APP_NAME=PrepCV API
ENVIRONMENT=development
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/prepcv
TAVILY_API_KEY=

# Hugging Face Settings (Qwen 30B-class model & Rotating Keys)
HF_MODEL=Qwen/Qwen2.5-Coder-32B-Instruct
HF_API_URL=https://router.huggingface.co/v1/chat/completions
HF_API_KEY_1=hf_...
HF_API_KEY_2=hf_...
HF_API_KEY_3=hf_...
HF_API_KEY_4=hf_...
HF_API_KEY_5=hf_...
